@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Playwrite NG Modern", serif;
    font-weight: 400;
    font-style: normal;
}